<app-header></app-header>
<section class="contact-title-section">
  <h1>Contáctanos</h1>
  <p>
    ¿Tienes preguntas, sugerencias o necesitas ayuda? Estamos aquí para
    acompañarte en cada paso
  </p>
</section>
<div class="contact-container">
  <!-- FORMULARIO -->
  <div class="form-box card-box">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="p-fluid">
      <div class="field-row">
        <div class="field half-width">
          <label for="name">Nombre <span class="required">*</span></label>
          <input id="name" type="text" pInputText formControlName="name" />
        </div>

        <div class="field half-width">
          <label for="lastName">Apellido <span class="required">*</span></label>
          <input
            id="lastName"
            type="text"
            pInputText
            formControlName="lastName"
          />
        </div>
      </div>

      <div class="field">
        <label for="rut">RUT <span class="required">*</span></label>
        <input
          id="rut"
          type="text"
          pInputText
          formControlName="rut"
          (input)="onRutInput($event)"
        />
        <small
          *ngIf="
            contactForm.get('rut')?.hasError('invalidRut') &&
            contactForm.get('rut')?.touched
          "
        >
          RUT inválido
        </small>
      </div>

      <div class="field phone-field">
        <label for="phone">Teléfono <span class="required">*</span></label>
        <div class="input-wrapper">
          <span class="prefix">+56 9</span>
          <input
            id="phone"
            type="text"
            maxlength="8"
            pInputText
            formControlName="phone"
          />
        </div>
      </div>

      <div class="field">
        <label for="email">Correo <span class="required">*</span></label>
        <input id="email" type="email" pInputText formControlName="email" />
      </div>

      <div class="field">
        <label for="subject">Motivo <span class="required">*</span></label>
        <input id="subject" type="text" pInputText formControlName="subject" />
      </div>

      <div class="field">
        <label for="message">Mensaje <span class="required">*</span></label>
        <textarea
          id="message"
          pTextarea
          formControlName="message"
          rows="5"
        ></textarea>
      </div>

      <div class="field captcha">
        <re-captcha
          siteKey="6LdNCYYrAAAAACS7s7rvxlDhssxpdZiQ8787cJ_w"
          (resolved)="onCaptchaResolved($event)"
        ></re-captcha>
      </div>

      <div class="submit-button">
        <button
          pButton
          type="submit"
          label="Enviar"
          [disabled]="contactForm.invalid"
        ></button>
      </div>
    </form>
  </div>

  <!-- COLUMNA DERECHA -->
  <div class="right-column">
    <!-- REDES -->
    <div class="card-box contact-info">
      <div class="contact-header">
        <span>Comunicate con nosotros por Whatssap</span>
      </div>
      <div class="contact-link">
        <a
          href="https://wa.me/56951857273"
          target="_blank"
          class="whatsapp-button"
        >
          <i class="pi pi-whatsapp"></i>
          <span>+56 9 5185 7273</span>
        </a>
      </div>

      <div class="info-header">
        <span>Nuestros horarios de atención</span>
      </div>

      <ul class="schedule">
        <li><strong>Lunes a Viernes:</strong> 09:00 AM – 18:00 PM</li>
        <li><strong>Sábados y Domingos:</strong> 09:00 AM – 14:00 PM</li>
      </ul>
    </div>

    <!-- BANNER AUTO -->
    <div class="image-card card-box">
      <div class="overlay-text">
        <p>
          En <strong>Autenzy</strong> valoramos cada opinión, sugerencia y
          recomendación
        </p>
        <br />
        <p>
          Gracias a ti seguimos mejorando para ayudarte a encontrar el auto
          perfecto
        </p>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>

<app-footer></app-footer>
