<footer class="autenzy-footer">
  <div class="footer-content">
    <p class="legal">
      2025 Autenzy © Todos los derechos reservados
      |
      <i class="pi pi-file" style="margin: 0 0.3rem 0 0.8rem;"></i>
      <a routerLink="/politicas" (click)="navigateToPolitics()">Políticas</a>
    </p>
    <p class="contacto">
      <i class="pi pi-envelope"></i>
      <a href="mailto:contacto@autenzy.cl">contacto&#64;autenzy.cl</a>
      |
      <i class="pi pi-instagram"></i>
      <a href="https://www.instagram.com/autenzycl" target="_blank" rel="noopener noreferrer">autenzycl</a>
    </p>
  </div>
</footer>
