<footer class="autenzy-footer">
  <div class="footer-top">
    <p><strong>¿Tienes dudas o recomendaciones?</strong> Visita nuestro centro de contacto</p>
    <a class="footer-button" href="/contacto">Contáctanos</a>
  </div>

  <hr class="footer-divider" />

<div class="footer-bottom">
  <div class="footer-left-group">
    <div class="footer-logo-block">
      <img src="logo-autenzy.webp" alt="Autenzy Logo" class="footer-logo" />
      <div class="footer-socials">
        <a href="#"><i class="pi pi-instagram"></i></a>
        <a href="#"><i class="pi pi-linkedin"></i></a>
        <a href="#"><i class="pi pi-facebook"></i></a>
      </div>
    </div>

    <div class="footer-center">
      <p><strong>Centro de ayuda</strong></p>
      <ul>
        <li><a href="/politicas">Términos y Condiciones</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>