<div class="hero">
  <div class="overlay"></div>
  <div class="content">
    <div class="logo-container">
      <img src="/autenzy-icon.webp" alt="Logo Autenzy" class="logo" />
    </div>

    <div class="text-container">
      <p class="welcome-title">BIENVENIDO A <strong>AUTENZY</strong></p>
      <p class="welcome-text">
        Una plataforma chilena que te permite conocer las <strong>fichas técnicas</strong> de todos los modelos de vehículos vendidos oficialmente en el país. Estamos trabajando en nuevas funciones, pero ya puedes comenzar a explorar.
      </p>
    </div>

    <div class="button-group">
      <p-button [loading]="loading" (click)="navigateToModels()">
        <ng-template pTemplate="icon">
          <img src="/car-icon2.webp" alt="Car Icon" class="custom-icon" />
        </ng-template>
        VISUALIZADOR DE VEHÍCULOS
      </p-button>

      <p-button [loading]="loading2" (click)="navigateToComparator()" class="secondary-button">
        <ng-template pTemplate="icon">
          <i class="pi pi-sliders-h"></i>
        </ng-template>
        COMPARADOR DE VEHÍCULOS
      </p-button>
    </div>
  </div>
</div>